@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "poppins";
}

.flex {
  display: flex;
  align-items: center;
  gap: 1rem;
}

:root {
  --color-white: #fff;
  --color-black: #000;
  --color-l-blue: #017cb9;
  --color-d-blue: #010d53;
}



/* ==================Header====================== */


.header {
  display: flex;
  flex-direction: column;
}

.header .top-field {
  display: flex;
  padding: 1rem 10%;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

.top-field h2 {
  color: var(--color-l-blue);
}

.bottom-field {
  display: flex;
  padding: 0.6rem 10%;
  background: linear-gradient(to right, #010d53, #00a2d8);
}

.bottom-field .icon {
  font-size: 2rem;
}

.bottom-field .flex {
  gap: 0.5rem;
  color: var(--color-white);
}







/* =================Home=========================== */

.home-container {
  padding: 1rem 0;
}

.banner {
  background-image: linear-gradient(to right, #010d53 50%, #00a2d8c4), url(./components/assets/bannerImg.jpg);
  background-size: cover;
  background-position: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  padding: 1rem 10%;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 500px;
}

.banner-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  height: 100%;
}

.banner-content .b-left {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 60%;
}

.b-left h1 {
  font-size: 4.5vw;
  font-weight: 500;
}

.b-left h1 span {
  font-weight: 700;
}

.languages {
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  gap: 2rem;
  flex-wrap: wrap;
}

.languages p {
  font-weight: 600;
}

.b-right {
  display: flex;
  align-items: center;
}

.scanner-field {
  background: var(--color-white);
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 80%;
  margin-inline: auto;
}

.scanner-field img {
  width: 100%;
  border-radius: 0.7rem;
}

.btn {
  border: 0;
  outline: 0;
  width: 100%;
  padding: 0.8rem;
  border-radius: 0.5rem;
  background: linear-gradient(to right, #010d53, #00a2d8);
  color: var(--color-white);
  font-weight: 600;
  cursor: pointer;
}

.btn:hover {
  background: linear-gradient(to right, #00a2d8, #010d53);
}

.scanner-field p {
  color: var(--color-black);
  font-size: 0.8rem;
  text-align: center;
}


@media(max-width:800px) {
  .banner {
    padding: 2rem;
  }
  .banner-content {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 2rem;
  }

  .scanner-field,
  .banner-content .b-left {
    width: 100%;
  }

  .b-left p{
    font-size: 0.8rem;
  }

  .scanner-field {
    max-width: 400px;
  }

  .banner {
    height: auto;
  }
}





/* ===================login======================== */

.login-container {
  max-width: 400px;
  margin-inline: auto;
  text-align: center;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.login-container form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 2px solid #ccc;
  padding: 1rem;
  border-radius: 0.7rem;
  border-top: 5px solid var(--color-d-blue);
}

.login-container form input {
  border-radius: 0.5rem;
  border: 2px solid #ccc;
  padding: 0.8rem;
  font-size: 1.1rem;
}

.error-message {
  color: red;
  margin-top: 5px;
  font-size: 14px;
}







/* ==============footer========================== */

footer {
  background: var(--color-d-blue);
  color: var(--color-white);
  padding: 1rem 10%;
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 0;
  font-size: 0.9rem;
  left: 0;
}

/* =====================video=================== */


.face-authentication {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


video {
  border: 2px solid #090b30;
  color: #01b93b;
  margin: 10px;
  border-radius: 1rem;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.7);
  color: white;
  width: 100%;
  height: 100%;
  padding: 20px;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease;
}

.success-container {
  background: var(--color-white);
  color: #01ad4e;
  padding: 2rem;
  border-radius: 1rem;
  text-align: center;
  transition: 0.3s ease;
}

.success-container .tick {
  font-size: 5rem;
  background: #01b93b38;
  border-radius: 50%;
}


.button {
  border: 0;
  outline: 0;
  border-radius: 0.5rem;
}




/* =================dashboard=========================== */

.dashboard {
  margin-top: 0.5rem;
}

.welcome-field {
  background: linear-gradient(to right, #010d53, #00a2d8);
  color: var(--color-white);
  padding: 1rem 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcome-field h1 {
  font-size: 2rem;
  font-weight: 500;
}

.welcome-field h1 span {
  font-weight: 700;
}

.dashboard .card{
  width: 700px;
  border: 3px solid #ffd2ba;
  border-radius: 0.5rem;
}

.dashboard .aadhaar-card {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}
